{% extends "base.html.twig" %}

{% block title %}{{ "Crypto Stats - Configuration" }}{% endblock %}

{% block body %}
    <div class="container-fluid row">
        {% for exchangeItem in exchangeList %}
            {% include "block/exchange.html.twig" with {'exchangeName': exchangeItem } %}
        {% endfor %}
    </div>
{% endblock %}
