<div class="col-xl-3 col-sm-6 col-12 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
                <div>
                    <h3 class="{{ text_color|default('text-danger') }}"><strong>{{ value }}</strong></h3>
                    <p class="mb-0">{{ text }}</p>
                </div>
                <div class="align-self-center">
                    <i class="{{ icon|default('fa-rocket') }}"></i>
                </div>
            </div>
        </div>
    </div>
</div>
